src/main/schemas/jomc-1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

  Copyright (C) 2009 The JOMC Project
  Copyright (C) 2005 Christian Schulte <schulte2005@users.sourceforge.net>
  All rights reserved.

  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions
  are met:

    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.

    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in
      the documentation and/or other materials provided with the
      distribution.

  THIS SOFTWARE IS PROVIDED BY THE JOMC PROJECT AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
  THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
  PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE JOMC PROJECT OR
  CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
  EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
  PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
  OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
  OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
  ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

  $Id$

  Location: http://jomc.sourceforge.net/model/jomc-1.0.xsd

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jomc="http://jomc.org/model"
            targetNamespace="http://jomc.org/model"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation xml:lang="en"><![CDATA[

  Copyright (C) 2009 The JOMC Project
  Copyright (C) 2005 Christian Schulte <schulte2005@users.sourceforge.net>
  All rights reserved.

  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions
  are met:

    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.

    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in
      the documentation and/or other materials provided with the
      distribution.

  THIS SOFTWARE IS PROVIDED BY THE JOMC PROJECT AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
  THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
  PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE JOMC PROJECT OR
  CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
  EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
  PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
  OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
  OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
  ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

  $Id$

  Location: http://jomc.sourceforge.net/model/jomc-1.0.xsd

]]>
    </xsd:documentation>
  </xsd:annotation>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="text" type="jomc:Text"/>
  <xsd:complexType name="Text">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
Model of text.

The 'Text' type defines attributes 'language', 'type' and 'value'. Attribute 'language' holds the language key
identifying the text in a set of texts. Attribute 'type' specifies a Multipurpose Internet Mail Extension (MIME) type,
as defined in RFC 2045 and 2046. Attribute 'value' holds the text of the type corresponding to the language.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="jomc:String">
        <xsd:attribute name="language" type="jomc:Language" use="required"/>
        <xsd:attribute name="type" type="jomc:MimeType" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="texts" type="jomc:Texts">
    <xsd:key name="text-key">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Language key of a text.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="jomc:text"/>
      <xsd:field xpath="@language"/>
    </xsd:key>
    <xsd:keyref name="text-default-language-reference" refer="jomc:text-key">
      <xsd:selector xpath="."/>
      <xsd:field xpath="@defaultLanguage"/>
    </xsd:keyref>
  </xsd:element>
  <xsd:complexType name="Texts">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">List of texts.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="jomc:text" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="defaultLanguage" type="jomc:Language" use="required"/>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="documentation" type="jomc:Texts">
    <xsd:key name="documentation-key">
      <xsd:selector xpath="jomc:text"/>
      <xsd:field xpath="@language"/>
    </xsd:key>
    <xsd:keyref name="default-documentation-reference" refer="jomc:documentation-key">
      <xsd:selector xpath="."/>
      <xsd:field xpath="@defaultLanguage"/>
    </xsd:keyref>
  </xsd:element>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="template" type="jomc:Texts">
    <xsd:key name="template-key">
      <xsd:selector xpath="jomc:text"/>
      <xsd:field xpath="@language"/>
    </xsd:key>
    <xsd:keyref name="default-template-reference" refer="jomc:template-key">
      <xsd:selector xpath="."/>
      <xsd:field xpath="@defaultLanguage"/>
    </xsd:keyref>
  </xsd:element>
  <!-- ************************************************************************************************************* -->
  <xsd:complexType name="ModelObject">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Base model object.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="jomc:documentation" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="jomc:authors" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="modelVersion" type="jomc:Version" use="optional" default="1.2"/>
    <xsd:attribute name="createDate" type="jomc:DateTime" use="optional"/>
    <xsd:attribute name="deprecated" type="jomc:Flag" use="optional" default="false"/>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="modules" type="jomc:Modules">
    <xsd:key name="module-key">
      <xsd:selector xpath="jomc:module"/>
      <xsd:field xpath="@name"/>
    </xsd:key>
    <xsd:key name="specification-key">
      <xsd:selector xpath="jomc:module/jomc:specifications/jomc:specification"/>
      <xsd:field xpath="@identifier"/>
    </xsd:key>
    <xsd:keyref name="specification-reference" refer="jomc:specification-key">
      <xsd:selector xpath=".//jomc:specifications/jomc:reference"/>
      <xsd:field xpath="@identifier"/>
    </xsd:keyref>
    <xsd:key name="implementation-key">
      <xsd:selector xpath="jomc:module/jomc:implementations/jomc:implementation"/>
      <xsd:field xpath="@identifier"/>
    </xsd:key>
    <xsd:keyref name="implementation-reference" refer="jomc:implementation-key">
      <xsd:selector xpath=".//jomc:implementations/jomc:reference"/>
      <xsd:field xpath="@identifier"/>
    </xsd:keyref>
    <xsd:keyref name="implementation-implementation-reference" refer="jomc:implementation-key">
      <xsd:selector xpath=".//jomc:implementations/jomc:implementation/jomc:implementations/jomc:reference"/>
      <xsd:field xpath="@identifier"/>
    </xsd:keyref>
    <xsd:keyref name="dependency-specification-reference" refer="jomc:specification-key">
      <xsd:selector xpath=".//jomc:dependency"/>
      <xsd:field xpath="@identifier"/>
    </xsd:keyref>
  </xsd:element>
  <xsd:complexType name="Modules">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">List of modules.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element ref="jomc:module" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="module" type="jomc:Module">
    <xsd:key name="message-key">
      <xsd:selector xpath="jomc:messages/jomc:message"/>
      <xsd:field xpath="@name"/>
    </xsd:key>
    <xsd:keyref name="message-reference" refer="jomc:message-key">
      <xsd:selector xpath=".//jomc:messages/jomc:reference"/>
      <xsd:field xpath="@name"/>
    </xsd:keyref>
    <xsd:key name="property-key">
      <xsd:selector xpath="jomc:properties/jomc:property"/>
      <xsd:field xpath="@name"/>
    </xsd:key>
    <xsd:keyref name="property-reference" refer="jomc:property-key">
      <xsd:selector xpath=".//jomc:properties/jomc:reference"/>
      <xsd:field xpath="@name"/>
    </xsd:keyref>
  </xsd:element>
  <xsd:complexType name="Module">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
Model of a module.

The 'Module' type defines attributes 'name', 'version' and 'vendor'. Attribute 'name' holds the name of the module
uniquely identifying the module in a set of modules. Attribute 'vendor' holds information regarding the vendor of the
module. Attribute 'version' holds the version of the module.

A module defines implementations, messages, properties and specifications.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element ref="jomc:specifications" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="jomc:implementations" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="jomc:properties" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="jomc:messages" minOccurs="0" maxOccurs="1"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="version" type="jomc:Version" use="optional"/>
        <xsd:attribute name="vendor" type="jomc:String" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="specifications" type="jomc:Specifications">
    <xsd:unique name="specification-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Identifier key of a specification.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="jomc:specification"/>
      <xsd:field xpath="@identifier"/>
    </xsd:unique>
    <xsd:unique name="specification-reference-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Identifier key of a specification reference.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="jomc:reference"/>
      <xsd:field xpath="@identifier"/>
    </xsd:unique>
  </xsd:element>
  <xsd:complexType name="Specifications">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">List of specifications.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element ref="jomc:specification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="reference" type="jomc:SpecificationReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="specification" type="jomc:Specification"/>
  <xsd:complexType name="Specification">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
Model of a specification.

The 'Specification' type defines attributes 'identifier', 'class', 'vendor', 'version', 'multiplicity' and 'scope'.
Attribute 'identifier' holds an identifier uniquely identifying the specification in a set of specifications. Attribute
'class' holds the identifier of the class providing the programming interface of the specification. Attribute 'vendor'
holds information regarding the vendor of the specification. Attribute 'version' holds the version of the specification.
Attribute 'multiplicity' specifies the number of implementations allowed to exist among a set of modules.
A specification with a multiplicity equal to 'One' specifies that no more than one implementation of the specification
is allowed to exist among a set of modules (including none). A specification with a multiplicity equal to 'Many'
specifies that multiple implementations of the specification are allowed to exist among a set of modules (including
none). Attribute 'scope' specifies the scope instances of implementations apply to. In 'Singleton' scope, objects are
bound to a system's single instance store - an object is only created if not already available in that single instance
store.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element ref="jomc:properties" minOccurs="0" maxOccurs="1"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="identifier" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="class" type="jomc:Identifier" use="optional"/>
        <xsd:attribute name="vendor" type="jomc:String" use="optional"/>
        <xsd:attribute name="version" type="jomc:Version" use="optional"/>
        <xsd:attribute name="multiplicity" type="jomc:Multiplicity" use="optional" default="Many"/>
        <xsd:attribute name="scope" type="jomc:Identifier" use="optional"/>
        <xsd:attribute name="classDeclaration" type="jomc:Flag" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:complexType name="SpecificationReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to a specification.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:attribute name="identifier" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="version" type="jomc:Version" use="optional"/>
        <xsd:attribute name="final" type="jomc:Flag" use="optional" default="false"/>
        <xsd:attribute name="override" type="jomc:Flag" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="implementations" type="jomc:Implementations">
    <xsd:unique name="implementation-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Identifier key of of an implementation.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="jomc:implementation"/>
      <xsd:field xpath="@identifier"/>
    </xsd:unique>
    <xsd:unique name="implementation-reference-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Identifier key of an implementation references.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="jomc:reference"/>
      <xsd:field xpath="@identifier"/>
    </xsd:unique>
  </xsd:element>
  <xsd:complexType name="Implementations">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">List of implementations.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element ref="jomc:implementation" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="reference" type="jomc:ImplementationReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="implementation" type="jomc:Implementation"/>
  <xsd:complexType name="Implementation">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
Model of an implementation.

The 'Implementation' type defines attributes 'identifier', 'name', 'class', 'location', 'vendor', 'version', 'final',
'stateless' and 'abstract'. Attribute 'identifier' holds an identifier uniquely identifying the implementation in a set
of implementations. Attribute 'name' holds a name uniquely identifying the implementation for its implemented
specifications. Attribute 'class' holds an identifier of the class providing implementation instances. Attribute
'location' holds an URI of the location of instances of the implementation. Attribute 'vendor' holds vendor information
for the vendor providing the implementation. Attribute 'version' holds a version of the implementation. Dependencies,
messages, properties and specifications may be inherited from multiple parent implementations. The 'final' attribute
flags an implementation the final node in an inheritance hierarchy. The 'stateless' attribute indicates that instances
of the implementation do not retain state across operations. The 'abstract' attribute flags an implementation abstract.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element ref="jomc:specifications" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="jomc:implementations" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="jomc:dependencies" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="jomc:properties" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="jomc:messages" minOccurs="0" maxOccurs="1"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="identifier" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="name" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="class" type="jomc:Identifier" use="optional"/>
        <xsd:attribute name="location" type="jomc:URI" use="optional"/>
        <xsd:attribute name="vendor" type="jomc:String" use="optional"/>
        <xsd:attribute name="version" type="jomc:Version" use="optional"/>
        <xsd:attribute name="final" type="jomc:Flag" use="optional" default="false"/>
        <xsd:attribute name="stateless" type="jomc:Flag" use="optional" default="false"/>
        <xsd:attribute name="abstract" type="jomc:Flag" use="optional" default="false"/>
        <xsd:attribute name="classDeclaration" type="jomc:Flag" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:complexType name="ImplementationReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to an implementation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:attribute name="identifier" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="version" type="jomc:Version" use="optional"/>
        <xsd:attribute name="final" type="jomc:Flag" use="optional" default="false"/>
        <xsd:attribute name="override" type="jomc:Flag" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="dependencies" type="jomc:Dependencies">
    <xsd:unique name="dependency-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Checks dependency uniqueness.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="jomc:dependency"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
  </xsd:element>
  <xsd:complexType name="Dependencies">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">List of dependencies.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element ref="jomc:dependency" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="dependency" type="jomc:Dependency"/>
  <xsd:complexType name="Dependency">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
Model of a dependency.

The 'Dependency' type extends the 'SpecificationReference' type adding attributes 'implementationName', 'name',
'bound' and 'optional'. Attribute 'implementationName' holds an identifier selecting a single implementation from the
set of implementations implementing the referenced specification. Attribute 'name' holds an identifier uniquely
identifying the dependency in a set of dependencies. Attribute 'bound' flags the instances of the dependency bound
to the declaring implementation. Attribute 'optional' flags a dependency optional. Dependencies, messages and properties
set with a dependency override dependencies, messages and properties of the selected implementations.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:SpecificationReference">
        <xsd:sequence>
          <xsd:element ref="jomc:dependencies" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="jomc:properties" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="jomc:messages" minOccurs="0" maxOccurs="1"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="implementationName" type="jomc:Identifier" use="optional"/>
        <xsd:attribute name="name" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="bound" type="jomc:Flag" use="optional" default="true"/>
        <xsd:attribute name="optional" type="jomc:Flag" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="properties" type="jomc:Properties">
    <xsd:unique name="property-name-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Name key of a property.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="jomc:property"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
    <xsd:unique name="property-reference-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Name key of a property reference.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="jomc:reference"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
  </xsd:element>
  <xsd:complexType name="Properties">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">List of properties.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element ref="jomc:property" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="reference" type="jomc:PropertyReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="property" type="jomc:Property"/>
  <xsd:complexType name="Property">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
Model of a property.

The 'Property' type defines attributes 'name', 'type', 'value', 'final' and 'override'. Attribute 'name' holds the name
uniquely identifying the property in a set of properties. Attribute 'type' holds an identifier of the type of the
property. Attribute 'value' holds the properties value.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:any namespace="##other" minOccurs="0" maxOccurs="1" processContents="lax"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="type" type="jomc:Identifier" use="optional"/>
        <xsd:attribute name="value" type="jomc:String" use="optional"/>
        <xsd:attribute name="final" type="jomc:Flag" use="optional" default="false"/>
        <xsd:attribute name="override" type="jomc:Flag" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:complexType name="PropertyReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to a property.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:attribute name="name" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="final" type="jomc:Flag" use="optional" default="false"/>
        <xsd:attribute name="override" type="jomc:Flag" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="messages" type="jomc:Messages">
    <xsd:unique name="message-name-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Name key of a message.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="jomc:message"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
    <xsd:unique name="message-reference-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Name key of a message reference.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="jomc:reference"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
  </xsd:element>
  <xsd:complexType name="Messages">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">List of messages.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element ref="jomc:message" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="reference" type="jomc:MessageReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="message" type="jomc:Message"/>
  <xsd:complexType name="Message">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
Model of a message.

The 'Message' type defines attributes 'name', 'final' and 'override'. Attribute 'name' holds a name uniquely identifying
the message in a set of messages. Attribute 'final' flags a message the final node in an inheritance hierarchy.
Attribute 'override' flags a message as intended to override a super-message. A message defines a localizable template
and format arguments.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element ref="jomc:template" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="jomc:arguments" minOccurs="0" maxOccurs="1"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="final" type="jomc:Flag" use="optional" default="false"/>
        <xsd:attribute name="override" type="jomc:Flag" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:complexType name="MessageReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to a message.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:attribute name="name" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="final" type="jomc:Flag" use="optional" default="false"/>
        <xsd:attribute name="override" type="jomc:Flag" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="arguments" type="jomc:Arguments">
    <xsd:unique name="argument-name-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Name key of an argument.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="jomc:argument"/>
      <xsd:field xpath="@name"/>
    </xsd:unique>
    <xsd:unique name="argument-index-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Index key of an argument.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="jomc:argument"/>
      <xsd:field xpath="@index"/>
    </xsd:unique>
  </xsd:element>
  <xsd:complexType name="Arguments">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">List of arguments.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element ref="jomc:argument" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="argument" type="jomc:Argument"/>
  <xsd:complexType name="Argument">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
Model of a message argument.

The 'Argument' type defines attributes 'index', 'name' and 'type'. Attribute 'index' holds the index of the argument in
a list of arguments. Attribute 'name' holds the name uniquely identifying the argument in a set of arguments. Attribute
'type' holds the type of the argument.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="index" type="jomc:Index" use="required"/>
        <xsd:attribute name="name" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="type" type="jomc:ArgumentType" use="optional" default="Text"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="instances" type="jomc:Instances">
    <xsd:unique name="instance-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Identifier key of an instance.</xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="jomc:instance"/>
      <xsd:field xpath="@identifier"/>
    </xsd:unique>
  </xsd:element>
  <xsd:complexType name="Instances">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">List of instances.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element ref="jomc:instance" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="instance" type="jomc:Instance"/>
  <xsd:complexType name="Instance">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
Model of an instance.

The 'Instance' type defines attributes 'identifier', 'name', 'class' and 'stateless'. Attribute 'identifier' holds an
identifier uniquely identifying the instance in a set of instances. Attribute 'name' holds an identifier uniquely
identifying the implementation of the specifications implemented by an instance. Attribute 'class' holds an identifier
of the class of an instance. Attribute 'stateless' flags an instance stateless.

An instance is build from implementations. An implementation declaring a location declares its instance located outside
the scope of the model. An implementation not delcaring a class is only available during implementation inheritance
processing. No instance is build from such implementations.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element ref="jomc:specifications" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="jomc:dependencies" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="jomc:properties" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="jomc:messages" minOccurs="0" maxOccurs="1"/>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="identifier" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="name" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="class" type="jomc:Identifier" use="required"/>
        <xsd:attribute name="stateless" type="jomc:Flag" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="persons" type="jomc:Persons"/>
  <xsd:complexType name="Persons">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">List of persons.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element name="person" type="jomc:Person" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="person" type="jomc:Person"/>
  <xsd:complexType name="Person">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
Model of a person.

The 'Person' type defines attributes 'name' and 'mail'. Attribute 'name' holds the name of a person. Attribute 'mail'
holds the mail address of a person.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="jomc:String" use="required"/>
        <xsd:attribute name="mail" type="jomc:String" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="authors" type="jomc:Authors"/>
  <xsd:complexType name="Authors">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">List of authors.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:ModelObject">
        <xsd:sequence>
          <xsd:element name="author" type="jomc:Author" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:element name="author" type="jomc:Author"/>
  <xsd:complexType name="Author">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
Model of an author.

The 'Author' type extends the 'Person' type adding attribute 'version' holding a version created by the author.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="jomc:Person">
        <xsd:attribute name="version" type="jomc:Version" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ************************************************************************************************************* -->
  <xsd:simpleType name="String">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <!-- ************************************************************************************************************* -->
  <xsd:simpleType name="Language">
    <xsd:restriction base="xsd:language"/>
  </xsd:simpleType>
  <!-- ************************************************************************************************************* -->
  <xsd:simpleType name="DateTime">
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>
  <!-- ************************************************************************************************************* -->
  <xsd:simpleType name="Flag">
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>
  <!-- ************************************************************************************************************* -->
  <xsd:simpleType name="URI">
    <xsd:restriction base="xsd:anyURI"/>
  </xsd:simpleType>
  <!-- ************************************************************************************************************* -->
  <xsd:simpleType name="Index">
    <xsd:restriction base="xsd:int"/>
  </xsd:simpleType>
  <!-- ************************************************************************************************************* -->
  <xsd:simpleType name="Version">
    <xsd:restriction base="xsd:token"/>
  </xsd:simpleType>
  <!-- ************************************************************************************************************* -->
  <xsd:simpleType name="Identifier">
    <xsd:restriction base="xsd:token"/>
  </xsd:simpleType>
  <!-- ************************************************************************************************************* -->
  <xsd:simpleType name="MimeType">
    <xsd:restriction base="xsd:token">
      <xsd:whiteSpace value="collapse"/>
      <xsd:pattern value="[0-9A-Za-z!#$%&amp;'\*\+\.\-\\\^_`\{\}\|~]+/[0-9A-Za-z!#$%&amp;'\*\+\.\-\\\^_`\{\}\|~]+(;[0-9A-Za-z!#$%&amp;'\*\+\.\-\\\^_`\{\}\|~]+|;[0-9A-Za-z!#$%&amp;'\*\+\.\-\\\^_`\{\}\|~]+=[0-9A-Za-z!#$%&amp;'\*\+\.\-\\\^_`\{\}\|~]+|;[0-9A-Za-z!#$%&amp;'\*\+\.\-\\\^_`\{\}\|~]+=&quot;([0-9A-Za-z!#$%&amp;'\*\+\.\-\^_`\{\}\|~\(\)&lt;&gt;@,;:/\[\]\?=]|\\\\|\\&quot;)*&quot;)*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ************************************************************************************************************* -->
  <xsd:simpleType name="ArgumentType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="Number"/>
      <xsd:enumeration value="Date"/>
      <xsd:enumeration value="Time"/>
      <xsd:enumeration value="Text"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ************************************************************************************************************* -->
  <xsd:simpleType name="Multiplicity">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="One"/>
      <xsd:enumeration value="Many"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
